<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>SelectMonarchs</title>
  </head>
  <body>
    <form action="{% url 'bookies:bet' bet.id %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>{{ bet.bet_text }}</h1></legend>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      {% for choice in bet.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}  {{ choice.amount }}</label>
        <br>
      {% endfor %}
      <label for="amount">Bet Amount:</label>
      <input type="text" name="amount" id="amount">
    </fieldset>
    <input type="submit" value="Bet">
    </form>
    </ul>
  </body>
  </html>